body{
    margin: 0;
    background-color: #D9D9D9;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    color:#5D2B60;
}


/* BANNER */
#banner{    
    height: 100vh;
    width: 100vw;
    background-image: url("/Images/my-banner.png");
    background-position: center;
    background-size: cover;
    margin: 0;
}

#banner h1{
    color:#D9D9D9;
    font-family: "Courgette", sans-serif;
}


.github{
    margin-bottom: 1rem;
}

.fa-github{
    color:#D9D9D9;
}


/* NAVBAR */
#navbar{
    position: fixed;
    top: 65%;
    right: 4%;
    background-color: #000;
    width: 200px;
    opacity: .7;
    border-radius: 5px;
}

#navbar ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    
}

#navbar li{
    font-size: 1.1rem;
    color:#D9D9D9;
    line-height: 2rem;
}

#navbar a{
    text-decoration: none;
} 


/* STRENGTHS */
#strengths-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
 
/* FOOTER */
#contact-me{
    text-align: center;
    background-color:#6D435A;
    padding: 3%;
    margin-top: 15%;
}

#contact-me h2{
    color:#D9D9D9;
}

#contact-me a{
    text-decoration: none;
}


@media only screen and (max-width: 425px){
    /* BANNER */
    .intro-title{
        margin: 0;
    }

    #banner .intro-title{
        font-size: 2.2rem;
        margin: auto;
        padding: 0;
    }

    .banner-item{
        text-align: center;
    }

    #banner button{
        padding: 2%;
        font-size: 1rem;
    }


    /* ABOUT ME */
    #about-me{
        padding: 13%;
        text-align: center;
    }

    .line-violet{
        width: 40%;
        height: 2px;
        background-color:#6D435A;
        margin: 10% auto;    
    }

    /* STRENGTHS */    
    #strengths-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .strength{
        background-color:#6D435A;
        border-radius: 5px;
        margin: 3%;
        padding: 10%;
        color:#D9D9D9;
    }

    /* EDUCATION */
    #education{
        text-align: center;
    }

    #education h2{
        margin-bottom: 1.5rem;
    }

    #education-container{
        color:#D9D9D9;
        background-color:#6D435A;
        margin: 3%;
        padding: 6%;
        border-radius: 5px;       
    }    

    .education-description a{
        color:#D9D9D9;
    }

    .education-description li{
        line-height: 1.5rem;
    }
    

    /* SKILLS */
    #skills{
        margin-top: 20%;
    }

    #skills h2{
        text-align: center;
    }

    #skills-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        gap: 7px;   
        margin: 1%;   
        text-align: center;
    }

    .grid-item{
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        padding-top: 10px;
    }

    .responsive{
        grid-column: span 2;
    }

    .grid-item img{
        width: 130px;
    }


    /* REUSABLE CLASSES */
    .width-radius{
        width: 200px;
        border-radius: 5px;
    }
    
    .line-platinum{
        width: 40%;
        height: 2px;
        background-color:#D9D9D9;
        margin: 15% auto;
    }


} 

@media only screen and (max-width: 768px){
    /* NAVBAR */
    #navbar{
        padding-right: 35px;
        position: fixed;
        top: 3%;
        background-color: #000;
        width: 90%;
        opacity: .7;
        border-radius: 5px;
    }

    #navbar ul{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }

    #navbar li{
        font-size: 1rem;
        line-height: 2.5rem;
    }

   /* BANNER */
    #banner{
        display: flex ;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    #banner .intro-title{
        margin: auto;
    }



    /* ABOUT ME */
    #about-me{
        padding: 13%;
        text-align: center;
    }

    .line-violet{
        width: 40%;
        height: 2px;
        background-color:#6D435A;
        margin: 10% auto;    
    }

    /* STRENGTHS */    
    #strengths-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .strength{
        background-color:#6D435A;
        border-radius: 5px;
        margin: 3%;
        padding: 10%;
        color:#D9D9D9;
    }

    /* EDUCATION */
    #education{
        text-align: center;
    }

    #education h2{
        margin-bottom: 1.5rem;
    }

    #education-container{
        color:#D9D9D9;
        background-color:#6D435A;
        margin: 3%;
        padding: 6%;
        border-radius: 5px;       
    }  

    .education-description a{
        color:#D9D9D9;
    }

    .education-description li{
        line-height: 1.5rem;
    }
    

    /* SKILLS */
    #skills{
        margin-top: 20%;
    }

    #skills h2{
        text-align: center;
    }

    #skills-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        gap: 7px;   

        text-align: center;
    }

    .grid-item{
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        padding-top: 10px;
    }

    .responsive{
        grid-column: span 2;
    }

    .grid-item img{
        width: 130px;
    }


    /* REUSABLE CLASSES */
    .width-radius{
        width: 200px;
        border-radius: 5px;

    }
    
    .line-platinum{
        width: 40%;
        height: 2px;
        background-color:#D9D9D9;
        margin: 15% auto;
    }

    /* FOOTER */
    #contact-me{
        text-align: center;
        background-color:#6D435A;
        padding: 3%;
        margin-top: 15%;
    }

    #contact-me h2{
        color:#D9D9D9;

    }
}

@media only screen and (max-width: 1440px){
  /* BANNER */
  #banner{
    display: flex ;
    flex-direction: row;
    width: 100%;;

}

#banner .intro-title{
    margin: auto;
}


    .intro-text{
        color:#D9D9D9;
        line-height: 2rem;
        margin: auto;
    }

    .intro-title{
        font-size: 3rem;
    }

    .intro-title h1{
        margin-top: 0;

    }

    .banner-item button{
        padding: 5% 7%;
        border-radius: 5px;
        border: 1px solid #D9D9D9;
        font-size: 1.2rem;
    }

    /* ABOUT ME */
    #about-me{
        padding: 10%;
        text-align: center;
    }

    .line-violet{
        width: 40%;
        height: 2px;
        background-color:#6D435A;
        margin: 10% auto;    
    }

    /* STRENGTHS */    
    #strengths-container{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .strength{
        background-color:#6D435A;
        border-radius: 5px;
        margin: 3%;
        padding: 10%;
        color:#D9D9D9;
    }

    .strength img{
        width: 250px;
    }

    /* EDUCATION */
    #education{
        text-align: center;
    }

    #education h2{
        margin-bottom: 1.5rem;
    }

    #education-container{
        color:#D9D9D9;
        background-color:#6D435A;
        margin: 3%;
        padding: 6%;
        border-radius: 5px;       
    }  

    .education img{
        width: 250px;
    }

    .education-description a{
        color:#D9D9D9;
    }

    .education-description li{
        line-height: 1.5rem;
    }
    

    /* SKILLS */
    #skills h2{
        text-align: center;
    }

    #skills-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);  
        gap: 7px;   
        margin: 1%;   
        text-align: center;
    }

    .grid-item{
        text-align: center;
        border: 1px solid;
        border-radius: 5px;
        padding-top: 10px;
    }

    .responsive{
        grid-column: span 2;
    }

    .grid-item img{
        width: 130px;
    }


    /* REUSABLE CLASSES */
    .width-radius{
        width: 200px;
        border-radius: 5px;

    }
    
    .line-platinum{
        width: 40%;
        height: 2px;
        background-color:#D9D9D9;
        margin: 10% auto;
    }

    /* FOOTER */
    #contact-me{
        text-align: center;
        background-color:#6D435A;
        padding: 3%;
        margin-top: 15%;
    }

    #contact-me h2{
        color:#D9D9D9;

    }
}